<!-- /snippets/product-grid-item.liquid -->
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. Overwrite the variable to adjust this.

  Example
    - assign grid_item_width = 'large--one-quarter medium--one-half'

{% endcomment %}

{% comment %}
  Set the default grid_item_width if no variable is set
{% endcomment %}
{% unless grid_item_width %}
  {% assign grid_item_width = 'large--one-third medium--one-half' %}
{% endunless %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}
<div data-price="{{ product.price | money_without_currency }}" class="product__item {% if date_difference < 30 %}filter-recent{% endif %} {{ featured }} {{ best_seller }} {{ popular }} {{ vendor }} {{ size }} {{ color }}">
  <a href="{{ product.url | within: collection }}"><img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" /></a>
  <div class="product__item--info">
    <h3 class="product__item--title"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h3>
    <div class="product__item--price">
    	{% if on_sale %}
          {% if product.price_varies %}
            {% assign sale_price = product.price | money %}
            {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
          {% else %}
            {{ product.price | money }}
          {% endif %}
        {% else %}
          {% if product.price_varies %}
            {% assign price = product.price | money %}
            {{ 'products.general.from_text_html' | t: price: price }}
          {% else %}
            {{ product.price | money }}
          {% endif %}
        {% endif %}
    </div>
  </div>
  {% assign variantCount = product.variants | size %}
  <form action="/cart/add" method="post" enctype="multipart/form-data" class="formAddToCart">
    <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
    {% if sold_out %}
    <button class="product__item--cart btn btnAddToCart disabled" type="submit" value="Submit">
      <i class="we-icon-cart"></i>
    </button>
    {% else %}
    {% if variantCount < 1 %}
    <a class="product__item--cart btn btnAddToCart" href="{{ product.url }}" title="{{ product.title | escape }}">
      <i class="we-icon-cart"></i>
    </a>
    {% else %}
    <button class=" product__item--cart btn btnAddToCart" type="submit" value="Submit">
      <i class="we-icon-cart"></i>
    </button>
    {% endif %}
    {% endif %}
  </form>
</div>
