<!-- /templates/cart.liquid -->
{% comment %}

  For info on test orders:
    - General http://docs.shopify.com/manual/your-store/orders/test-orders
    - Shopify Payments - http://docs.shopify.com/manual/more/shopify-payments/testing-shopify-payments

{% endcomment %}
<div class="cart">
  <div class="page-title bg--gray">
    <img src="{{ 'bg_title_cart.jpg' | asset_url }}" width="1840" heiht="277" alt="Cart Title" />
  </div>
{% if cart.item_count > 0 %}
  <h1 class="hidden">{{ 'cart.general.title' | t }}</h1>
  <form action="/cart" method="post" novalidate class="flex">
    {% comment %}
    <table class="cart-table full table--responsive">
      <tbody>
        {% for item in cart.items %}
          <tr class="cart__row table__section">
            <td data-label="{{ 'customer.order.product' | t }}">
              <a href="{{ item.url | within: collections.all }}" class="cart__image">
                {% comment %}
                  More image size options at:
                    - http://docs.shopify.com/themes/filters/product-img-url
                {% endcomment %}
                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
              </a>
            </td>
            <td>
              <a href="{{ item.url }}" class="h4">
                {{ item.product.title }}
              </a>
              {% unless item.variant.title contains 'Default' %}
                <br>
                <small>{{ item.variant.title }}</small>
              {% endunless %}

              {% if settings.cart_vendor_enable %}
                <p>{{ item.vendor }}</p>
              {% endif %}

              {% comment %}
                Optional, loop through custom product line items if available

                For more info on line item properties, visit:
                  - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
              {% endcomment %}
              {% assign property_size = item.properties | size %}
              {% if property_size > 0 %}
                {% for p in item.properties %}
                  {% unless p.last == blank %}
                    {{ p.first }}:

                    {% comment %}
                      Check if there was an uploaded file associated
                    {% endcomment %}
                    {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                    {% else %}
                      {{ p.last }}
                    {% endif %}

                    <br>
                  {% endunless %}
                {% endfor %}
              {% endif %}

              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove">
                <small>{{ 'cart.general.remove' | t }}</small>
              </a>
            </td>
            <td data-label="{{ 'cart.label.price' | t }}">
              <span class="h3">
                {{ item.price | money }}
              </span>
            </td>
            <td data-label="{{ 'cart.label.quantity' | t }}">
              <input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0">
            </td>
            <td data-label="{{ 'cart.label.total' | t }}" class="text-right">
              {% if item.original_line_price != item.line_price %}
                <span class="cart-item__original-price"><s>{{ item.original_line_price | money }}</s></span>
              {% endif %}
              <span class="h3">
                {{ item.line_price | money }}
              </span>
              {% for discount in item.discounts %}
                <span class="cart-item__discount">{{ discount.title }}</span>
              {% endfor %}  
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endcomment %}
    <div class="cart__left">
      <div class="row">
        {% assign cart_size = cart.items | size %}
        {% for item in cart.items %}
        <div class="{% if cart_size == 1 %}col-lg-12 w--1366-12{% else %}col-lg-4 w--1366-6{% endif %} col-xs-12 mb--20">
          <div class="product__cart--item flex">
            <a class="cart__item--img flex middle-xs"><img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}" width="156" heiht="200" /></a>
            <div class="cart__item--info">
              <h4 class="cart__item--title font--akzidenzcds-regular head--25"><a href="{{ item.url }}">{{ item.product.title }}</a>
                {% if item.original_line_price != item.line_price %}
                  <span class="cart-item__original-price"><s>{{ item.original_line_price | money }}</s></span>
                {% endif %}
                <span class="h3">
                  {{ item.line_price | money }}
                </span>
                {% for discount in item.discounts %}
                  <span class="cart-item__discount">{{ discount.title }}</span>
                {% endfor %}
              </h4>
              <ul>
                {% unless item.variant.title contains 'Default' %}
                <li><span>Size/Color</span>: {{ item.variant.title }}</li>
                {% endunless %}
                <li><span>Qty</span>: 
                  <div class="product__cart--quantity" style="overflow: hidden;">
                    <a class="minus" href="#" onClick="return false;"><i class="we-icon-minus"></i></a>
                    <input type="text" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0" class="font--akzidenzcds-regular">
                    <a class="plus" href="#" onClick="return false;"><i class="we-icon-plus"></i></a>
                  </div>
                </li>
              </ul>
              
              <div class="cart__item--action">
                <a href="#" onClick="return false;" class="btn-edit"><i class="we-icon-edit"></i></a>
                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove">
                  <i class="we-icon-trash"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row middle-xs cart__pagination">
        <div class="col-lg-6">
          <a href="{{ shop.secure_url }}/collections/all" class="btn btn--lg btn--line continue__shop"><i class="we-icon-arrow-long-left"></i> continue shoping</a>
        </div>
        <div class="col-lg-6 end-xs">
          <input type="submit" name="update" class="btn btn--lg btn--black update__cart update-cart" value="{{ 'cart.general.update' | t }}">
        </div>
      </div>
    </div>
    <div class="cart__right font--akzidenzcds-regular">
      <div class="cart__coupon mb--30">
        <h3 class="head--25">Coupon code</h3>
        <div class="flex cart__coupon--form">
          <input type="text" name="discount"/>
          <button type="submit" name="checkout"><i class="we-icon-arrow-long"></i></button>
        </div>
      </div>
      <div class="cart__total">
        {% comment %}
        <h3 class="head--25">Cart</h3>
        <ul class="cart__total--list">
          <li class="flex between-xs"><span>Subtotal</span><span class="font--akzidenzcds-bold">$255.00</span></li>
          <li class="flex between-xs"><span>VAT</span><span class="font--akzidenzcds-bold">$10.00</span></li>
        </ul>
        {% endcomment %}
        <div class="flex between-xs cart__total--price middle-xs">
          <h4>{{ 'cart.label.total' | t }}</h4>
          <span class="cart__subtotal font--akzidenzcds-bold">{{ cart.total_price | money }}</span>
        </div>
        
        
        <div class="cart__form--action">
          <input type="submit" name="checkout" class="btn btn--lg btn--blue" value="{{ 'cart.general.checkout' | t }}">
          {% if additional_checkout_buttons %}
          <span>or</span>
            <div class="cart__additional_checkout">{{ content_for_additional_checkout_buttons }}</div>
          {% endif %}
        </div>
      </div>
    </div>
    {% comment %}
    <div class="grid cart__row">
      {% if settings.cart_notes_enable %}
        <div class="grid__item two-thirds small--one-whole">
          <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
          <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
        </div>
      {% endif %}
      <div class="grid__item text-right{% if settings.cart_notes_enable %} one-third small--one-whole{% endif %}">
        <p>
          <span class="cart__subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
          <span class="h3 cart__subtotal">{{ cart.total_price | money }}</span>
        </p>
        {% if cart.total_discounts > 0 %}
          {% assign savings = cart.total_discounts | money %}
          <p>
            <span class="cart-subtotal__savings"><em>{{ 'cart.general.savings_html' | t: price: savings }}</em></span>  
          </p>
        {% endif %}  
        <p><em>{{ 'cart.general.shipping_at_checkout' | t }}</em></p>
        <input type="submit" name="update" class="btn--secondary update-cart" value="{{ 'cart.general.update' | t }}">
        <input type="submit" name="checkout" class="btn" value="{{ 'cart.general.checkout' | t }}">
      </div>
    </div>
    {% endcomment %}
  </form>
{% else %}
  {% comment %}
    The cart is empty
  {% endcomment %}
  <h2>{{ 'cart.general.title' | t }}</h2>
  <p>{{ 'cart.general.empty' | t }}</p>
  <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
{% endif %}
</div>
<script>
  $( document ).ready( function() {
    $('.btn-edit').click(function(){
      var element = $(this).closest('.cart__item--info');
      if ( element.find('.product__cart--quantity').hasClass('view-edit') ){
      	element.find('.product__cart--quantity').removeClass('view-edit');
      } else {
      	element.find('.product__cart--quantity').addClass('view-edit');
      }
    });
  })
</script>