<!-- /templates/product.liquid -->
<div class="single-product" itemscope itemtype="http://schema.org/Product">
  {% comment %}
  {% include 'breadcrumb' %}
  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %}
  {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
  
  <div class="h--full bg--gray">
    <div class="product flex bottom-xs">
      <div class="product__left">
        <div class="product__image">
          <div class="product__image--large">
            {% if product.images.size > 1 %}
              {% for image in product.images %}
                <div class="{% for variant in image.variants %}filter-{{ variant.option2 | downcase }} {% endfor %}"><img src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}"/></div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="product__image--small">
            {% if product.images.size > 1 %}
             {% for image in product.images %}
              <div class="{% for variant in image.variants %}filter-{{ variant.option2 | downcase }} {% endfor %}"><img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}" width="598" height="985" /></div>
             {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="list-image-variant hidden">
        {% for variant in product.variants %}
        <img data-variant="{{ variant.id }}" data-color="{{ variant.option2 | downcase }}" src="{{ variant.image.src | img_url: 'master' }}" alt="{{ variant.image.alt | escape }}"/>
        {% endfor %}
      </div>
      <div class="product__right">
        <div class="product__detail">
          <form action="/cart/add" method="post" enctype="multipart/form-data" class="formAddToCart">
            <h2 class="product__title--single head--45 font--akzidenzcds-bold" itemprop="name">{{ product.title }}</h2>
            <div class="flex between-xs middle-xs">
              <div class="product__price--single font--akzidenzcds-regular">
                <span id="ProductPrice" class="priceProduct" itemprop="price">
                  {{ current_variant.price | money }}
                </span>
                {% if product.compare_at_price > product.price %}
                <span id="ComparePrice" class="priceProduct priceCompare">
                  {{ current_variant.compare_at_price | money }}
                </span>
                {% endif %}
              </div>
              <!--<div class="product__rate">
                <span class="product__star shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                <div class="product__review">
                  <span class="review">
                    <a class="review-popup" href="#reviews-content">
                      Add Your Comment
                    </a>
                  </span>
                </div>
              </div>-->
            </div>

            <div class="product__desc">
              {{ product.description }}
              
              <!--<p class="proAttr productVendor"><b>{{ 'products.product.vendor' | t }}</b>: {{ product.vendor }}</p>
              <p class="proAttr"><b>SKU</b>: <span class="variant-sku"></span></p>-->
             
            </div>
            
            <div class="flex between-xs middle-xs product__cart product__cart--form">
              <form class="product__cart--form flex" action="cart.html">
                <div class="select product__cart--size font--akzidenzcds-regular" style="display:none">
                  <select name="id" id="productSelect" class="select__active">
                    {% for variant in product.variants %}
                      <option data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                    {% endfor %}
                  </select>
                  {% if product.available and product.variants.size > 0 %}
                    {% for option in product.options %}
                      {% include 'swatch' with option %}
                    {% endfor %}
                  {% endif %}
                  
                </div>
                {% if product.available and product.variants.size > 0 %}
                  {% include 'swatch' with 'Size' %}
                {% endif %}
                <div class="product__cart--quantity">
                  <a class="minus" href="#" onClick="return false;"><i class="we-icon-minus"></i></a>
                  <input type="text" value="1" min="1" name="quantity" class="font--akzidenzcds-regular">
                  <a class="plus" href="#" onClick="return false;"><i class="we-icon-plus"></i></a>
                </div>
                <button type="submit" name="add" class="btn product__cart--btn btn--blue btn--lg btn--shadow btnAddToCart">Add to Cart</button>
              </form>
              <div class="product__sizeguide">
                <a class="we-popup font--akzidenzcds-regular" href="{{ 'size-guide.jpg' | asset_url }}" data-popup='{"type": "image"}'><i class="we-icon-info"></i>Size Guide</a>
              </div>
            </div>
            {% if product.available and product.variants.size > 0 %}
            <div class="product__colors">
              <h4 class="product__subtitle font--akzidenzcds-regular">Available Colors</h4>
              <div class="flex">
                {% include 'swatch' with 'Color' %}
              </div>
            </div>
            {% endif %}
          </form>
          <div class="product__spec" data-id="{{product.id}}">
            <h4 class="product__subtitle font--akzidenzcds-regular">Specifications</h4>
            {{ product.metafields.Specifications.bb_specifications }}
          </div>
          <div id="reviews-content" class="zoom-anim-dialog mfp-hide">
            <h4 class="product__subtitle font--akzidenzcds-regular">{{ 'products.product.review_title' | t }}</h4>
            <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
          </div><!-- review -->
        </div>
      </div>
    </div><!-- .product -->
  </div><!-- .h--100 -->
  {% if settings.banner_detail_enable %}
  <div class="banner__big mt--20">
    <img class="w--100" src="{{ 'banner_pro_detail.png' | asset_url }}" alt="Banner Big" width="1840" height="816" />
    <div class="banner__big--content">
      {{ settings.banner_content_detail }}
    </div>
  </div>
  {% endif %}
  {% assign on_sale = false %}
  {% if product.compare_at_price > product.price %}
      {% assign on_sale = true %}
  {% endif %}
  {% assign currentProduct = product %}
  {% if collection == null or collection.handle == 'all' %}
    {% assign foundCollection = false %}
    {% for item in product.collections %}
      {% if foundCollection == false and item.handle != 'all' and item.all_products_count > 1 %}
        {% assign foundCollection = true %}
        {% assign collection = item %}
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if collection and collection.products_count > 1 %}
  <div class="product__related">
    <h2 class="product__related--title font--akzidenzcds-bold head--55">You might also like</h2>
    <div class="row we-slider" data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "dots": false, "arrows": false, "responsive":[{"breakpoint": 1025,"settings":{"slidesToShow": 4}}, {"breakpoint": 769,"settings":{"slidesToShow": 2}}]}'>
      {% for product in collection.products limit:8 %}
    
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="product__item">
              <a href="{{ product.url }}"><img alt="{{ product.featured_image.alt | escape }}" src="{{ product.featured_image | product_img_url: 'master' }}" /></a>
              <div class="product__item--info">
                <h3 class="product__item--title"><a href="{{ product.url }}" title="{{ product.title }}">{{ product.title }}</a></h3>
                <div class="product__item--price">
                  {% if on_sale %}
                    {% if product.price_varies %}
                      {% assign sale_price = product.price | money %}
                      {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                    {% else %}
                      {{ product.price | money }}
                    {% endif %}
                  {% else %}
                    {% if product.price_varies %}
                      {% assign price = product.price | money %}
                      {{ 'products.general.from_text_html' | t: price: price }}
                    {% else %}
                      {{ product.price | money }}
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div><!-- .single-product -->
<script type="text/javascript">
  ( function( $ ) {
    function Get_Image( variant_id ) {
      var src_image = "";
      $('.list-image-variant img').each(function(){
        var id = $(this).data('variant');
        if( id == variant_id ) {
          src_image = $(this).attr('src');
        }
      });
      return src_image;
    }
    function Get_Color( variant_id ) {
      var color = "";
      $('.list-image-variant img').each(function(){
        var id = $(this).data('variant');
        if( id == variant_id ) {
          color = $(this).data('color');
        }
      });
      return color;
    }
    function Load_Image_1(src_image) {
      var index = 0;
      $('.product__image--large div').each(function(){
        var srcImage = $(this).find('img').attr('src');
        if( srcImage == src_image ) {
          index = $(this).data('slick-index');
        }
      });
      return index;
    }
    var src = "";
    var color = "";
    var variant_id = location.search.split('variant=')[1];
    src = Get_Image(variant_id);
    color = Get_Color(variant_id);
    var selectCallback = function(variant, selector) {
        if (variant) {
          $('.variant-sku').text(variant.sku);
        }
        else {
          $('.variant-sku').empty();
        }
        bb.productPage({
            money_format: "{{ shop.money_format }}",
            variant: variant,
            selector: selector
        });
    };
    
    $(document).ready(function() {
        new Shopify.OptionSelectors('productSelect', {
            product: {{ product | json }},
            onVariantSelected: selectCallback,
            enableHistoryState: true
        });

        var slider1 = $( '.product__image--large' );
        var slider2 = $( '.product__image--small' );
        
        slider1.slick({
          slidesToShow: 1,
          asNavFor:".product__image--small"
        });
      slider2.slick({
          vertical: true,
          slidesToShow: 5,
          asNavFor:".product__image--large",
          focusOnSelect: true
        })
        slider1[0].slick.slickGoTo(parseInt(Load_Image_1(src)));
        slider2[0].slick.slickGoTo(parseInt(Load_Image_1(src)));
        slider1.slick('slickUnfilter');
        slider1.slick('slickFilter','.filter-' + color);
        
        slider2.slick('slickUnfilter');
        slider2.slick('slickFilter','.filter-' + color);
        
      
        {% if product.available and product.options.size > 1 %}
            Shopify.linkOptionSelectors({{ product | json }});
        {% endif %}
        {% if product.options.size == 1 and product.options.first != 'Title' %}
            $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
        {% endif %}
        {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
            $('.selector-wrapper').hide();
            $('.swatch').hide();
        {% endif %}
        $('.swatch .color').first().addClass('checkedBox');
        $('.swatch .color label').on('click', function () {  
          var color_variant = $(this).data('color');
          $('.swatch .color').each(function(){      
            $(this).find('label').removeClass('checkedBox');
          });
          $(this).addClass('checkedBox');
          var src_image = $(this).find('img').attr('src');
          var src_image_new = src_image.replace('_medium','');
          slider1.slick('slickUnfilter');
          slider2.slick('slickUnfilter');
          slider1[0].slick.slickGoTo(parseInt(load_image(src_image_new)));
          slider2[0].slick.slickGoTo(parseInt(load_image(src_image_new)));
          
          
          slider1.slick('slickFilter','.filter-' + color_variant);
          
          slider2.slick('slickFilter','.filter-' + color_variant);
  
        });
        function load_image(src_image) {
          var index = 0;
          $('.product__image--large div').each(function(){
            var srcImage = $(this).find('img').attr('src');
            if( srcImage == src_image ) {
              index = $(this).data('slick-index');
            }
          });
          return index;
        }
        $('.select__active').click(function(){
      $('.nice-select').toggleClass('open');
        });
        $('.list .swatch-element').click(function() {
           var text = $(this).data('value');
           $('.nice-select').find('.current').html(text);
           $('.nice-select').removeClass('open');
        })
        $('.review-popup').magnificPopup({
          type: 'inline',
          fixedContentPos: false,
          fixedBgPos: true,
          overflowY: 'auto',
          closeBtnInside: true,
          preloader: false,
          midClick: true,
          removalDelay: 300,
          mainClass: 'my-mfp-slide-bottom'
        });
        
      
      });
  } ) ( jQuery );
</script>


